
.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.tw-followCard-infoUserName {
    opacity: .6;
}

.tw-followCard-avatar {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.tw-followCard-button {
    margin-left: 16px;
    border: 0;
    border-radius: 100px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    min-width: 80px;
}


.tw-followCard-button.is-following {
    background-color: transparent;
    border: 1px solid #aaa;
    color: #fff;
    width: 135px;
}

.tw-followCard-button.is-following:hover {
    background:#f80b0b2a;
    color: #f80b0b;
    border: 1px solid;
    transition: .3s ease all;
    opacity: .8;
}

.tw-followCard-button.is-following:hover .tw-followCard-button-stop-follow {
    display: block;
}

.tw-followCard-button.is-following:hover .tw-followCard-button-follow {
    display: none;
}

.tw-followCard-button-stop-follow {
    display: none;
}