@import './constants.css';

.App {
  place-content: center;
  display: grid;
  height: 100vh;
}

button {
  background: var(--color-dark);
  color: var(--color-light);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.1em;
}

button:hover {
  background: #908030;
}