
.wins {
    height: var(--square-size);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.wins.White {background-image: url(../../../img/wk.png);}
.wins.Black {background-image: url(../../../img/bk.png);}

.draws {
    height: var(--square-size);
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    background-position: 35% center, 65% center;
    background-image: url(../../../img/wk.png),url(../../../img/bk.png);
}