@import '../../../constants.css';

.promotion-choices {
    height: 12.5%;
}

.promotion-choices .piece {
    width: 25%;
    height: 100%;
}

.promotion-choices .piece:hover {
    box-shadow: 0 0 0 5px var(--color-dark) inset;
    transform: scale(1.05);
}

.promotion-choices :is(.wq,.bq) {
    left: 0;
}

.promotion-choices :is(.wb,.bb) {
    left: 25%;
}

.promotion-choices :is(.wh,.bh) {
    left: 50%;
}
.promotion-choices :is(.wr,.br) {
    left: 75%;
}